@keyframes focus {
    from {
        transform: scale(1);
    }  
    to {
        transform: scale(1.2);
    }
}

@keyframes focusMini {
    from {
        transform: scale(1);
    }  
    to {
        transform: scale(1.02);
    }
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
