@mixin linearGradient {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.5)), 
                linear-gradient(rgba(0, 0, 0, 0.5));
}

@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        right: -15px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $purple;
    }
}

@mixin before_circle1 {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        //right: -15px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: rgba(204, 156, 216, 0.65);
    }
}

@keyframes close {
    from {
        transform: rotate(0deg);
    }
    To {
        transform: rotate(45deg);
    }
}
    
@keyframes backdrop-animation {
        from {
           backdrop-filter: blur(0px);
        }
        33% {
          backdrop-filter: blur(2px);
        }
        66% {
            backdrop-filter: blur(4px);
          }
        to {
           backdrop-filter: blur(6px);
        }
      }    
    