.burger {
    z-index: 3;
    position: fixed;
    top: 20px;
    right: 30px;
    height: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    cursor: pointer;
    transition: all 1s;
    &:hover {
        justify-content: space-between;
        transition: 1s all;
    }
    span {
        display: block;
        width: 37px;
        height: 4px;
        background: $purple; 
    }
    span.short {
        width: 29px;
    }
    &_active { 
        cursor: pointer;
        z-index: 9;
        @include _480 {
            z-index: 55;
        }
        span {
            transition: all 1s;
            right: 30px;
            top: 27px;
            background-color: $main-color;
            margin-bottom: -2px; 
            position: fixed;

            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }           
        }
    }
}      

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s all;
    overflow-y: auto;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        //left: -100%;
        position: relative;
        width: 345px;
        background-image: linear-gradient(
            90deg,
            rgba(65, 3, 65, 0.966) 35%,
            transparent 99.9%,
            rgba(63, 3, 63, 0.26) 99%,
            );
        height: 100%;
        transition: all .6s;
        padding-top: 140px;
        padding-left: 40px;
        z-index: 10;
        @include _767 {
            padding-top: 20px !important;
        }
        
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list {
        list-style-type: none;
        padding-left: 35px;
        a {
            color: $main-color !important;
            text-decoration: none;
            color: $main-color;
            font-weight: 800;
            &:hover {
                color:white !important;
                transition: all 0.6s;
            }
        }
        
    }
    &__link {
        position: relative;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 55px; 
        &:before {
            content: '';
            position: absolute;
            left: -35px;
            top: 20px;
            width: 15px;
            height: 15px;
            border: 1.5px solid $main-color;
            border-radius: 100%;
            transition: 0.6s all;
            @include _480 {
                top: 15px;
            }
        }
        &:hover {
            &:before {
                background-color:rgb(255, 255, 255);
            }
        }
        @include _480 {
            line-height: 45px;
        }
    }
    &__social {
        color: #CABBCA;
        position: absolute;
        bottom: 50px;
        left: 40%;
        transform: translateX(-50%);
        width: 110px;
        display: flex;
        justify-content:space-between;
        svg {
            color: #CABBCA;
            &:hover {
                animation: focus 1s ease forwards;
                color: white;
                -webkit-box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
                box-shadow: 4px 8px 41px 25px rgba(25, 56, 77, 0.2);
            }  
        }
        @include _767 {
            bottom: 12px;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1 !important;
        animation: backdrop-animation 3s ease-in-out 1s forwards;
        animation-delay: -3s !important;
        .close {
            position: absolute;
            display: block;
            height: 46px;
            bottom: auto;
            top: 20px;
            right: 90px;
            display: none;
            z-index: -1;
            border: 0 none;
            transition-delay: .49s;
            @include _480 {
                display: none;
            }
            b {
                position: absolute;
                display: block;
                height: 26px;
                width: 26px;
                top: 15px;
                right: -54px;
                margin-top: -11px;  
                &:hover {
                    transition: 0.15s linear all;
                    animation: close .15s ease-in-out forwards;
                    animation-iteration-count: 1;
                }
                i {
                    position: absolute;
                    background: $main-color;
                    display: block;
                    width: 35px;
                    height: 3px;   
                    &:nth-of-type(1) {
                        top: -5px;
                        transform: rotate(45deg);
                        transform-origin: 0 100%;
                        transition: background .15s linear;    
                    }
                    &:nth-of-type(2) {
                        bottom: 3px;                            
                        transform: rotate(-45deg);                             
                        transform-origin: 0 0;
                        transition: background .15s linear;  
                    }
                }
            }
        }
    } 
}

    