.burger {
    z-index: 3;
    position: fixed;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    transition: all 1s;
    //transition: 0.15s linear 0.15s background;
    span {
        display: block;
        width: 35px;
        height: 3px;
        background: $purple; 
    }
    span.short {
        width: 28px;
    }
    &_active { 
        
        //cursor: pointer;
        z-index: 10;
        span {
            transition: all 1s;
            right: 30px;
            top: 25px;
            background-color: $main-color;
            margin-bottom: -2px; 
            position: fixed;

            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);

                transition-duration: 0.15s;
                transition-timing-function: linear;
                transition-delay: 0s;
                transition-property: background;
            }
            
                //background-color: $purple;
                //animation: close 1s ease-in-out infinite alternate;

                // transition-duration: 0.15s;
                // transition-timing-function: 0.15s;
                // transition-delay: 0s;
                // transition-property: all;

                // transition: background .15s linear;
                // transition-duration: 0.15s;
                // transition-timing-function: linear;
                // transition-delay: 0s;
                // transition-property: background;
            
            
            
        }
    }
}      

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s all;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        //left: -100%;
        position: relative;
        width: 345px;
        background-image: linear-gradient(
            90deg,
            rgba(65, 3, 65, 0.966) 35%,
            transparent 99.9%,
            rgba(63, 3, 63, 0.26) 99%,
            );
        height: 100%;
        transition: all .6s;
        padding-top: 140px;
        padding-left: 40px;
        z-index: 10;
        
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list {
        list-style-type: none;
        padding-left: 35px;
        a {
            text-decoration: none;
            color: $main-color;
        }
        
    }
    &__link {
        position: relative;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 55px; 
        &:before {
            content: '';
            position: absolute;
            left: -35px;
            top: 20px;
            width: 15px;
            height: 15px;
            border: 1.5px solid $main-color;
            border-radius: 100%;
            transition: 0.6s all;
        }
        &:hover {
            &:before {
                background-color:rgba(139, 110, 139, 0.966)
            }
        }
    }
    &__social {
        position: absolute;
        bottom: 50px;
        left: 40%;
        transform: translateX(-50%);
        width: 110px;
        display: flex;
        justify-content:space-between;
        a {
            &:hover {
                animation: focus 1s ease forwards;
                color: $purple;
                -webkit-box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
                box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
            }  
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8 !important;
        //background-color: rgba(0, 0, 0, 0.986);
        //backdrop-filter: blur(6px);
        animation: backdrop-animation 3s ease-in-out 1s forwards;
        animation-delay: -3s !important;
    }
}
    