.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg1.jpg') center (center/cover) no-repeat;
    padding-top: 400px;
    &__title {
        margin-top: 10px;
        z-index: 1; 
        position: relative; 
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        background-image: linear-gradient(
            90deg,
            rgba(10, 0, 0, 0.774) 10%,
            transparent 25%,
            rgba(194, 178, 178, 0.712) 25%,
            transparent 25%,
            rgba(7, 4, 4, 0.904) 70%,
            rgba(10, 0, 0, 0.959) 80%,
        );
        

    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 270px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color:$main-color;
        font-weight: bold;
        z-index: 1;
        text-decoration: none; 
        box-sizing: border-box;
        &:hover {
            color: white;
            text-decoration: none;
        }
        &:nth-child(2) {
            height: 45px;
            width: 135px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0px 4px 4px rgba(192, 173, 173, 0.082);
            text-align: center;
            margin-left: 10px;
            &:hover {
                transition: all 0.7s;
                background-color: $main-color;
                color: $purple;
            }
        }
        &:hover {
            animation: focusMini 1s ease forwards;
            transition: 1s all;
            -webkit-box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 8px 41px 25px rgba(34, 60, 80, 0.2);
        }
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
        
    }
    .container {
        text-align: -webkit-right;
        margin-right: 390px;
        @include _1440 {
            margin-right: 60px;
        }
        @include _767 {
            margin-right: 40px;
        }
        @include _979 {
            top: -80px;
            position: relative;
        }
        @include _480 {
            top: -120px;
            position: relative;
        }
        @include _350 {
            margin-right: 25px;
        }
            
        
    }
    .title_fz48 {
        font-size: 60px;
        line-height: 80px;
        color: $main-color;
        @include _767 {
            font-size: 48px;
        }
    }
    .title_fz16 {
        color: $main-color;
    }
}