.skills {
    position: relative;
    background-color :#030100;
    .container {
        max-width: 1135px;
        background-color: $back-color;
        margin: 0 auto;
    }
    &__wrapper {
        margin: 60px 10px 120px 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
    }
    &__item {
        padding: 30px;
        border: 1px solid $text-color;
        img {
            margin-bottom: 20px;
        }
        .title_fz14 {
            margin-bottom: 15px;
        }
        &:nth-child(4) {
            padding-top: 45px;
            img {
                margin-bottom: 33px;
            }
        }
        &:nth-child(7) {
            padding-top: 38px;
            img {
                margin-bottom: 32px;
            }
        }
    }
    &__descr {
        font-size: 12px;
        font-weight: 500;
    }
    &__ratings {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 30px; 
        &-title {
            position: absolute;
            z-index: 3;
            left: 14px;
            top: 8px;
            @include before_circle1;
            &:before {
                top: -8px;
                left: -14px;
            }
            
        }
        &-counter {
            position: relative;
            left: 310px;
            top: -14px;
        }
    }
}








.title {
    color: $text-color;
    &_fz16 {
        font-size: 16px; 
    }
    &_fz14 {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        position: relative;
    }
    &_fz20 {
       font-size: 20px; 
       
    }
}
